.navigation {
  width: 100%;
  height: 60px;
  background-color: #4082bc;
}

.btnAdd {
  width: 15%;
  height: 100%;
  font-size: 21px;
  color: black;
  background-color: #75baff;
  border: none;
  cursor: pointer;
}

.btnAdd:hover {
  background-color: #66a4e1;
}
