.container {
  display: inline-block;
  background-color: #17212b;
  width: 50%;
  height: 847px;
}

.form {
  width: 75%;
  height: 46%;
  background-color: #4082bc;
  margin: 0 auto;
  font-size: 25px;
  text-align: center;
}

.form input, .form textarea {
  width: 90%;
  height: 13%;
  margin: 10px 0 0 30px;
}

.form textarea {
  height: 25%;
  resize: none;
}

.form span {
  display: block;
  color: red;
  font-size: 20px;
}

.form button {
  display: block;
  margin: 7px auto;
  width: 30%;
  height: 14%;
  border-radius: 25px;
}
