.blockBack {
  background-color: black;
}

.form {
  background-color: #17212B;
}

.form input, .form textarea {
  background-color: #152B42;
  color: #fff;
  border: 2px solid #4082BC;
}

.form button {
  background-color: #152B42;
  color: #fff;
  border: 2px solid #4082BC;
}

.form button:hover {
  background-color: #316295;
  cursor: pointer;
}
