.container {
  display: inline-block;
  width: 50%;
  height: 847px;
  float: left;
  overflow: auto;
  max-height: 847px;
}

.post {
  width: 98.5%;
  font-size: 25px;
  word-wrap: break-word;
  position: relative;
  margin-bottom: 5px;
  margin-top: 5px;
}

.comment {
  background-color: inherit;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.commentBody {
  display: flex;
  flex-direction: column;
  padding: 10px 0px 17px 15px;
  margin-bottom: 5px;
  position: relative;
}


.btnRemove, .btnEdit {
  cursor: pointer;
  background-image: url('../img/close.png');
  width: 25px;
  height: 25px;
  position: absolute;
  right: 8px;
  top: 5px;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
}

.infoPost {
  display: flex;
  justify-content: space-around;
}
