.container {
  background-color: #4082bc;
}

.post {
  border: 3px solid #75baff;
  color: black;
  background-color: #abf;
}

.post:hover {
  background-color: #b0daff;
  cursor: pointer;
}

.comment {
  color: black;
}

.commentBody {
 border: 6px solid #b3a1a1;
}
