.btnRemove, .btnEdit {
  cursor: pointer;
  background-image: url('../img/close.png');
  width: 25px;
  height: 25px;
  position: absolute;
  right: 8px;
  top: 5px;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
}

.infoPost {
  display: flex;
  justify-content: space-around;
}
